@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: rgb(231, 224, 224);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode: normal;
}

/* .hamburger {
    display: flex;
    justify-content: center;
}

.cross {
    width: 14px;
    height: 16px;
    margin-top: 17px;
} */    

.navbar {
    background-color: blueviolet;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    /* position: sticky;
    top: 0; */
}

.icon {
    display: none;
}

.navbar nav ul {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    /* margin-left: 300px; */
}

.navbar nav ul li {
    list-style: none;
    margin: 15px 0;
    padding: 0 20px;
}

.navbar nav ul li a {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: black;
}

.navbar nav ul li a:hover {
    cursor: pointer;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    width: 20%;
    align-items: center;
    padding-right: 10%;
    /* margin-right: 160px; */
}

.logo img{
    width: 70px;
    height: 63px;
}
.button {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;
}

/* .btn a:hover {
    background-color: blueviolet;
    color: black;
    cursor: pointer;
} */

.btn {
    background-color: black;
    color: blueviolet;
    border: 3px solid;
    border-radius: 8px;
    width: 33%;
    height: 69%;
    text-decoration: none;
}
.btn a{
    color: blueviolet;
text-decoration: none;
}
.btnsec a{
    color: blueviolet;
text-decoration: none;
}

/* .btnsec a:hover {
    background-color: blueviolet;
    color: black;
    cursor: pointer;
} */

.btnsec {
    background-color: black;
    color: blueviolet;
    border: 3px solid;
    border-radius: 8px;
    width: 34%;
    height: 69%;
}

/* .line {
    height: 2px;
    background-color: black;
    margin: 2px;

} */

/* body{
    background-color: rgb(231, 224, 224);
}
.navbar{
 background-color:blueviolet;
 height: 700px;
}
.navbar nav ul{
    display: flex;
}
.navbar nav ul li{
    list-style: none;
    margin: 15px 0;
    padding: 0 20px ;
}
.navbar nav ul li a{
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: black;
}
.navbar nav ul li a:hover{
    cursor: pointer;
    color: white;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    font-family: 'Ubuntu', sans-serif;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    padding: 13px;
    padding-left: 1120px;
}
.btn:hover{
    background-color: blueviolet;
    color: black;
    cursor: pointer;
}
.btn{
    margin-right: 5px;
    padding: 3px 6px;
    background-color: black;
    color: blueviolet;
    border: 2px solid;
    border-radius: 8px;
}
.btnsec:hover{
    background-color: blueviolet;
    color: black;
    cursor: pointer;
}
.btnsec{
    margin-right: 15px;
    padding: 3px 6px;
    background-color: black;
    color: blueviolet;
    border: 2px solid;
    border-radius: 8px;
}
.line{
    height: 2px;
    background-color: black;

} */
.container {
    display: flex;
    background-color: blueviolet;
    margin-top: 0px;
    justify-content: center;
    padding: 110px;
    max-width: 1270px;
    font-family: 'Ubuntu', sans-serif;
}

.topic h1 {
    display: flex;
    justify-content: center;
    font-size: 75px;
}

.topic h2 {
    display: flex;
    justify-content: center
}

.mid {
    background-color: rgb(231, 224, 224);
    height: 200px;
}

.image {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    height: 450px;
}

.homecontainer {
    min-height: calc(100vh - 700px - 12vh);
    margin-top: -842px;

}

footer {
    background-color: black;
    color: blueviolet;
    height: 12vh;
    font-family: 'Montserrat', sans-serif;
}

.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    margin: -15px -50px;
}

.img2 {
    margin: -15px -50px;
}

.img3 {
    margin: -15px -50px;
}

.contactform {
    padding: 0 34px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.contactform h1 {
    /* text-align: center; */
    font-family: 'Open Sans', sans-serif;
    margin: -35px 0 10px;
    margin: 30px;
}

.contactform form div {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 25vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 8px;
    color: white;
    margin: 0 5px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

