<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/about_style.css">
</head>

<body>

    <header>
        <div class="navbar">
            <nav>
                <div class="icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul>
                    <li><a href="/" target="_blank">Home</a></li>
                    <li><a href="product" target="_blank">Products</a></li>
                    <li><a href="about" target="_blank">About</a></li>
                    <li><a href="contact" target="_blank">Contact</a></li>
                </ul>
                <div class="logo">
                    <img src="/assets/smartpx white.png" alt="" width="70px" height="63px">
                </div>
                <div class="button">
                    <button type="button" class="btn"><a href="path/to/your/dashboard" target="_blank">Profile</a></button>
                    <button type="button" class="btnsec"><a href="path/to/your/logout" target="_blank">Logout</a></button>
                </div>
            </nav>
        </div>
    </header>

    <div class="block1">
        <div>
            <img src="/assets/phone1.png" alt="picture 1" width="525px">
        </div>
        <div class="block1-1">
            <div class="block1-1-1">
                <div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quaerat saepe vel?</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis neque, maiores odit ipsa
                        exercitationem aliquid. Placeat possimus, a odit officiis perferendis ea provident molestiae
                        accusantium nostrum quidem.</p>
                </div>
                <div class="button1">
                    <button>Learn more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="block2">
        <div>
            <img src="/assets/phone1.png" alt="picture2"  width="525px">
        </div>
        <div class="block2-1">
            <div class="block2-1-1">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id itaque corporis deleniti!</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ad eligendi architecto suscipit
                        atque. Unde ipsum, voluptate praesentium possimus sapiente officiis? Vero, beatae dolorum.</p>
                </div>
                <div class="button2">
                    <button>Learn more</button>
                </div>
            </div>
        </div>
    </div>
    <div class="block3">
        <div>
            <img src="/assets/phone2.png" alt="picture3"  width="525px">
        </div>
        <div class="block3-1">
            <div class="block3-1-1">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsa enim rem.</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque saepe esse praesentium
                        corrupti dolorum quasi nobis? Minus tempore expedita laudantium dolor reiciendis temporibus
                        soluta
                        nihil.</p>
                </div>
                <div class="button3">
                    <button>Learn More</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="flex-all-center">
        <p>Copyright &copy; 2022 all rights reserved smartPx</p>
    </footer>
</body>

</html>
